#content{
	width:800px;
	margin:auto;
}
#welcome{
	color:#fff;
	font-size:20px;
	margin-top:50px;
	margin-bottom:20px;
}
#group_list{
	width:1000px;
	min-height:200px;
	position:relative;
}
.group_box{
	float:left;
	width:215px;
	height:255px;
	background:#fff;
	margin-right:90px;
	margin-bottom:80px;
}
.group_img{
	width:185px;
	height:185px;
	margin:15px;
}
.group_name{
	color:#000;
	font-size:22px;
	text-align:center;
	margin-top:-10px;
}
.line{
	width:800px;
	height:2px;
	background:#fff;
	margin-top:-40px;
	margin-bottom:40px;
}
#create_group{
	width:207px;
	height:253px;
	background:url(../img/group/create_group.png);
}
#create_group:hover{
	background:url(../img/group/create_group_hover.png);
}
#create_group:active{
	background:url(../img/group/create_group_active.png);
}